params.runtime_opts = ""
params.lsf_opts = ""

manifest {
    defaultBranch = "main"
    description = "Demos of using Nextflow for imagery pipelines"
    version = "1.0.0"
}

profiles {

    standard {
        docker.enabled = false
        singularity.enabled = true
    }

    janelia_lsf {
        process {
            executor = 'lsf'
            clusterOptions = params.lsf_opts
        }
        docker.enabled = false
        singularity.enabled = true
    }
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "${params.runtime_opts}"
}

