

profiles {

    standard {
        docker.enabled = false
        singularity.enabled = true
    }

    aws {
        docker.enabled = true
        singularity.enabled = false
        aws {
            batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        }
        process {
            executor = 'awsbatch'
            queue = 'janelia-nextflow-tower-connect'
        }
    }

}

docker {
    temp = "auto"
    runOptions = "${params.runtime_opts}"
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "${params.runtime_opts}"
}

