workDir = "work"

params {
    runtime_opts = ""
    lsf_opts = ""
    tracedir = "${workDir}/trace"
}

includeConfig 'external-modules/spark/nextflow.config'

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
    defaultBranch = "main"
    name = 'nf-demos'
    author = 'Konrad Rokicki'
    homePage = 'https://github.com/JaneliaSciComp/nf-demos'
    description = 'Collection of demo pipelines for large scale image analysis'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version = '0.1.0'
}

profiles {
  
    debug { 
        process.beforeScript = 'echo $HOSTNAME' 
    }

    standard {
        docker.enabled = false
        singularity.enabled = true
    }

    localdocker {
        docker.enabled = true
        singularity.enabled = false
    }

    aws {
        docker.enabled = true
        singularity.enabled = false
        aws {
            batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        }
        process {
            executor = 'awsbatch'
            queue = 'janelia-nextflow-tower-connect'
        }
    }

    tower {
        docker.enabled = true
        singularity.enabled = false
        aws {
            batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
        }
    }

    lsf {
        process {
            executor = 'lsf'
            clusterOptions = params.lsf_opts
        }
        docker.enabled = false
        singularity.enabled = true
    }
}

executor {
    queueSize = 1000
    pollInterval = "2 sec"
    //queueStatInterval = "6 sec"
}

docker {
    temp = "auto"
    runOptions = "${params.runtime_opts}"
}

singularity {
    autoMounts = true
    cacheDir = "$HOME/.singularity_cache"
    runOptions = "${params.runtime_opts}"
}

